.navbar{
    background-color: #4e4d4d !important;
}
.navbar ul li a:hover{
    background-color: rgba(40, 105, 226, 0.904);
    border-radius: 20px; 
}
.nav-link{
    color: rgb(251, 214, 4) !important;
    font-weight: bold !important;
}
.fa-shopping-cart,.fa-user-circle-o{
    font-size: 32px !important;
}
.fa-motorcycle,.fa-clock-o,.fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 10px; 
    color: rgb(251, 214, 4) !important;
}
.card1,.card2,.card3{
    display: flex;
    width: 500px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px gray;
    justify-content: center;
    align-items: center;  
    margin-top: 10px;  
}
.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.newarrivals{
    padding-top: 30px;
}
.heading{
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    color: rgb(251, 214, 4);
    text-shadow: 4px 4px 8px #4e4d4d;
}
.card{
    width: 250px;
    height: auto;
    margin-bottom: 5px; 
}
.card-text{
    font-weight: bold;
}
.btn-primary{
    width: 100%;
    background-color: #4e4d4d;
    color: rgb(251, 214, 4);
    font-weight: bold;
}
.card-img-top{
    height: 200px;
}
.footer{
    margin-top: 50px;
    width: 100%;
    background-color: #4e4d4d;
    height: 70px;
}
.footer>div{    
    text-align: center;
}
h4{
    color: rgb(251, 214, 4);
}
.fa-facebook,.fa-instagram{
    color: rgb(251, 214, 4);
}
@media screen and (max-width: 600px){
    .card1,.card2,.card3{
        width: 100%;
    }
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(251, 214, 4);
    color: #4e4d4d;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}
.move{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(251, 214, 4);
    color: #4e4d4d;
}
@media screen and (max-width: 600px){
    .move{
        font-size: medium;
    }
}
.form{
    padding: 20px 100px ;
}
.about{
    padding: 10px 30px
}

